<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069022086052-7o54ph5ojt95oj09tb2fkfc18qabejt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069022086052-7o54ph5ojt95oj09tb2fkfc18qabejt8</string>
	<key>API_KEY</key>
	<string>AIzaSyDpcacqnO3F_WNFVfj7y3Hu0rPvDuIpsKI</string>
	<key>GCM_SENDER_ID</key>
	<string>1069022086052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngeo.sharim</string>
	<key>PROJECT_ID</key>
	<string>ngoapp-fb630</string>
	<key>STORAGE_BUCKET</key>
	<string>ngoapp-fb630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069022086052:ios:20da7ca5d1417d525b3731</string>
</dict>
</plist>